@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

* {
    font-family: 'JetBrains Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    width: 94%;
    margin: 0 auto;

    padding: 20px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: flex;
} 

ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}

.home {
    background-color: #f370ff;
    color: black;
    font-weight: bold;
}

.home:hover {
    background-color: #500033;
    color: #ffffff;
    font-weight: bold;
}

#footer-placeholder {
    margin-top: auto;
}

footer {
    background-color: #111111;
    color: #888888;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #444444;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: #cccccc;
    font-size: 1.5rem;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #f370ff;
}
.push-right {
    margin-left: auto;
}

/* PROJECT PAGE */

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.project-card {
    background-color: #111111;
    border: 5px solid #500033;
    overflow: hidden;
    transition: transform 0.2s ease, border-color 0.2s ease;

    display: flex;
    flex-direction: column;
}

.project-card:hover {
    transform: translateY(-5px);
    border-color: #f370ff;
}

.project-card:hover .project-type {
    background-color: #f370ff;
}
.project-type {
    position: absolute;
    top: 0 px;
    right: 00px;

    background-color: #500033;
    color: #ffffff;
    padding: 4px 8px;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 0 0 0 8px;

    z-index: 2;

    transition: background-color 0.2s ease, color 0.2s ease;
}

.card-image {
    position: relative;
    
    height: 200px;
    width: 100%;
}
.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(45deg, rgba(80, 0, 51, 0.068), rgba(243, 112, 255, 0.2));

    pointer-events: none;
}

.card-content {
    padding: 20px;

    flex: 1;

    display: flex;
    flex-direction: column;
}

.card-content h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: #f370ff;
}

.tags {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.tag {
    background-color: #500033;
    font-weight: 700;
    padding: 2px 10px;
}

.cardbtn-small {
    color: #f370ff;
    padding: 2px 10px;
    text-decoration: none;
    font-size: 1.5rem;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-top: auto;
}

/* FEATURE */

.feature-grid {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 50px;
    align-items: top;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222222;
    min-width: 200px;
    z-index: 1000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #111111;
    color: #f370ff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.feature-title {
    color: #f370ff;
    font-weight: 900;
    text-align: center;
    margin-bottom: 0;
}

.feature-subheading {
    text-align: center;
    margin-top: 0;
    padding-bottom: 15px;
    border-bottom: 5px solid #f370ff;
}