@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

* {
    font-family: 'JetBrains Mono', monospace;
}

body {
    color: white;
    background-color: #000000;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: flex;
} 

ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}

.home {
    background-color: #f370ff;
    color: black;
    font-weight: bold;
}

.home:hover {
    background-color: #500033;
    color: #ffffff;
    font-weight: bold;
}

.push-right {
    margin-left: auto;
}