@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

* {
    font-family: 'JetBrains Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    width: 94%;
    margin: 0 auto;

    padding: 20px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: flex;
} 

ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}

.home {
    background-color: #f370ff;
    color: black;
    font-weight: bold;
}

.home:hover {
    background-color: #500033;
    color: #ffffff;
    font-weight: bold;
}

#footer-placeholder {
    margin-top: auto;
}

footer {
    background-color: #111111;
    color: #888888;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #444444;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: #cccccc;
    font-size: 1.5rem;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #f370ff;
}
.push-right {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.rbutton {
    background-color: #f370ff;
    color: #000000;
    font-weight: bold;
}

.rbutton:hover {
    color: #f370ff;
}
/* PROJECT PAGE */

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.project-card {
    background-color: #111111;
    border: 5px solid #500033;
    overflow: hidden;
    transition: transform 0.2s ease, border-color 0.2s ease;

    display: flex;
    flex-direction: column;
}

.project-card:hover {
    transform: translateY(-5px);
    border-color: #f370ff;
}

.project-card:hover .project-type {
    background-color: #f370ff;
}
.project-type {
    position: absolute;
    top: 0 px;
    right: 00px;

    background-color: #500033;
    color: #ffffff;
    padding: 4px 8px;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 0 0 0 8px;

    z-index: 2;

    transition: background-color 0.2s ease, color 0.2s ease;
}

.card-image {
    position: relative;
    
    height: 200px;
    width: 100%;
}
.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(45deg, rgba(80, 0, 51, 0.068), rgba(243, 112, 255, 0.2));

    pointer-events: none;
}

.card-content {
    padding: 20px;

    flex: 1;

    display: flex;
    flex-direction: column;
}

.card-content h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: #f370ff;
}

.tags {
    display: flex;
    gap: 15px;
    
    margin-left: auto; 
    justify-content: flex-start; 
    
    max-width: 80%;   
    overflow-x: auto;   
    white-space: nowrap; 
}

.tag {
    background-color: #500033;
    font-weight: 700;
    padding: 2px 10px;

    flex-shrink: 0;
}

.cardbtn-small {
    color: #f370ff;
    padding: 2px 10px;
    text-decoration: none;
    font-size: 1.5rem;

    transition: color 0.5s;
}

.cardbtn-small:hover {
    color: #ffffff;
    transition: color 0.5s;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-top: auto;
    overflow: hidden;
}

/* FEATURE */

.feature-grid {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 50px;
    align-items: top;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222222;
    min-width: 200px;
    z-index: 1000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #111111;
    color: #f370ff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.feature-title {
    color: #f370ff;
    font-weight: 900;
    text-align: center;
    margin-bottom: 0;
}

.feature-subheading {
    text-align: center;
    margin-top: 0;
    padding-bottom: 15px;
    border-bottom: 5px solid #f370ff;
}

.skills-caroselheader {
    margin: 2;
    padding: 0px 10px;
}

.featskills-caroselheader {
    margin: 2;
    padding: 0px 10px;
    text-align: center;
}

.programs-grid {
    scrollbar-width: thin;
    scrollbar-color: #1c1c1c #000000;
    transition: scrollbar-color 0.3s;

    margin-inline: 20px;
    display: flex;
    gap: 15px;
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap; 
    padding-bottom: 15px;
}

.program-card {
    position: relative;
    padding: 5px;
    background-color: #111111;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    border: 3px solid #f370ff;
    flex-shrink: 0;
}

.program-card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.program-card-text {
    text-decoration: none;
}

.program-content {
    display: flex;
    flex-direction: column;
}

.feat-skills-cards {
    width: fit-content;   
    max-width: 100%;      
    margin-inline: auto;  
    
    display: flex;
    justify-content: flex-start; 
    overflow-x: auto;
    
    gap: 15px;
    white-space: nowrap; 
    padding-top: 5px;
    padding-bottom: 15px;
    
    scrollbar-width: thin;
    scrollbar-color: #f370ff #000000;
    transition: scrollbar-color 0.3s;
}

.feat-skills-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 4px solid #f370ff;
    border-radius: 10px;
    width: 250px;
    transition: transform 0.2s ease;
    align-items: center;
}

.feat-skills-content:hover {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 4px solid #8400c5;
    background-color: #0b0010;
    border-radius: 10px;
    width: 250px;
    transition: border 0.2s ease;
    transform: translateY(-5px);
    transition: transform 0.2s ease
}

.feat-skills-content-p {
    display: flex;
    flex-direction: column;
    background-color: #500033;
    padding: 10px;
    border: 4px solid #f370ff;
    border-radius: 10px;
    width: 250px;
    transition: transform 0.2s ease;
    align-items: center;
}

.feat-skills-content-p:hover {
    display: flex;
    flex-direction: column;
    background-color: #31004a;
    padding: 10px;
    border: 4px solid #8400c5;
    border-radius: 10px;
    width: 250px;
    transition: background-color 3s ease, border 0.2s ease;
    transform: translateY(-5px);
    transition: transform 0.2s ease
}

.feat-skills-header {
    text-align: center;
    padding-bottom: 4px;
    margin-bottom: 3px;
    border-bottom: 2px solid #f370ff;
}

.skill-icon {
    font-size: 2rem;
}

.skill-name {
    font-size: 2rem;
}

.skill-details {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skill-tags {
    display: flex;
    gap: 15px;

    overflow-x: auto;   
    white-space: nowrap; 
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: flex-start;
    width: fit-content;
    max-width: 220px;
    min-width: 0;
    margin: 0 auto;

    scrollbar-width: thin;
    scrollbar-color: #f370ff #000000;
}

.skill-tag {
    background-color: #111111;
    font-weight: 900;
    padding: 2px 10px;
    border: 2px solid #f370ff;
    border-radius: 5px;
    flex-shrink: 0;
}

.prefer {
    align-items: top;
}
.prefer-heart {
    color: #f370ff;
    font-size: 1.2rem;
}

.pinkdivider {
    width: 100%;       
    height: 5px;       
    background-color: #f370ff;
    border: none;      
    margin-top: 10px;  
    margin-bottom: 0px;
}

.program-card.future {
    border-style: dashed;     
    border-color: #444444;    
    color: #888888;           
    opacity: 0.7;            
    transition: all 0.3s ease;
}

.program-card.future:hover {
    opacity: 1;
    border-color: #f370ff;    
    color: #ffffff;
}

.program-card.future .proficiency {
    font-size: 0.7rem;
    letter-spacing: 2px;
    color: #555555;
}

.program-card.future:hover .proficiency {
    color: #f370ff; 
}

.contact-social-links {
    display: flex;
    flex-direction: row;
    gap: 200px;
    justify-content: center;
    padding: 50px;
}

.contact-social-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #bbbbbb;  
    font-size: 1.5rem;  
    text-decoration: none; 
    transition: 1s;
}

.contact-social-links a i {
    font-size: 5rem;  
    color: #ffffff;
}

.contact-social-links a:hover {
    color: #f370ff;  
    text-decoration: none; 
    transform: scale(1.2);
    transition: 0.2s;
}

.contact-header {
    color: #f370ff;  
    margin-top: 50px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.contact-subheader {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

@media (max-width: 1050px) {
    .feature-grid {
        grid-template-columns: 1fr;
        
        text-align: center;
        
        gap: 30px;
    }

    .contact-social-links {
        display: flex;
        flex-direction: row;
        gap: 60px;
        justify-content: center;
        padding: 50px;
    }
}